.profile_header {
    text-align: center;
    margin-bottom: 1em;
  }
  
  .loading {
    font-size: 2rem;
    animation: spin 1s infinite linear;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  